{
  "presets": [
    "babel-preset-expo",
    "react-native-dotenv"
  ],
  "env": {
    "development": {
      "plugins": [
        "jsx-display-if",
        "transform-class-properties",
        "transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": [
              "./"
            ]
          }
        ]
      ]
    }
  }
}
